.linkProject {
  color: var(--background);
}

.linkProject:hover {
  text-decoration: underline solid;
  cursor: pointer;
}

.backgroundImage {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 240px;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
}

.backgroundImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s background ease-out;
}

.backgroundImage:hover::after {
  background: none;
}

.backgroundImage:hover .titleProject {
  display: none;
  transition: 0.5s;
}

.backgroundImage:hover .logoContainer {
  animation: leftToRight 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.logoContainer {
  position: absolute;
  top: 5%;
  left: -50%;
  display: flex;
  align-self: start;
  z-index: 10;
  opacity: 0;
}

.logo {
  max-width: 4rem;
  max-height: 4rem;
}

.titleProject {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: var(--secondary);
  text-transform: uppercase;
}

@keyframes leftToRight {
  0% {
    left: -30%;
  }
  100% {
    left: 5%;
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  .backgroundImage {
    height: 150px;
  }
  .titleProject {
    text-align: center;
    font-size: 1.5rem;
  }
}
