@import '~antd/dist/antd.css';
:root {
  --primary: #000000;
  --secondary: #ffffff;
  --background: #40a9ff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px;
  color: var(--primary);
}

div,
a,
span {
  font-family: 'Nunito Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  padding: 2rem 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 13px;
  }
  .container {
    padding: 3rem;
  }
}
